<section>
  <style>
    /* main */
    ::slotted(*) {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    main {
      width: 100%;
    }
  </style>


  <h1>({name})</h1>

  <main>
    <slot>
    </slot>
    <!-- <section>
      <h3>Backlog</h3>
      <slot name="backlog"></slot>
    </section>


    <section>
      <h3>Todo</h3>
      <slot name="todo"></slot>
    </section>


    <section>
      <h3>Doing</h3>
      <slot name="doing"></slot>
    </section>


    <section>
      <h3>Done</h3>
      <slot name="done"></slot>
    </section> -->
  </main>



</section>